@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-community {
  @apply flex items-center justify-center z-50 shadow-[0_0_5px_0_rgba(0,0,0,0.2)] bg-white border-b border-line xl:border-0;
}
@screen max-xs {
  .nav-community {
    @apply overflow-x-auto;
  }
}
@screen xl {
  .nav-community {
    @apply fixed h-nav w-full top-0 pl-110px pr-110px bg-white;
  }
}
.nav-community-link {
  @apply relative items-center justify-center flex-grow ml-2 first:ml-0 h-10
      before:absolute before:left-0 before:bottom-0 before:w-full before:h-[3px]
      after:absolute after:inset-0 after:my-3px after:rounded-lg after:-z-10 first:pointer-events-auto pointer-events-none;
  min-width: 50px;
  max-width: 111.6px;
}
@screen max-xl {
  .nav-community-link.home {
    @apply order-first;
  }
  .nav-community-link.friend {
    @apply order-1;
  }
  .nav-community-link.watch {
    @apply order-3;
  }
  .nav-community-link.marketplace {
    @apply order-2;
  }
  .nav-community-link.notifications {
    @apply order-4;
  }
  .nav-community-link.menu {
    @apply order-last;
  }
}
@screen xl {
  .nav-community-link {
    @apply h-nav pointer-events-auto;
  }
}
.nav-community-link svg {
  @apply text-transparent stroke-32 stroke-gray-700;
}
.nav-community-link.nuxt-link-active {
  @apply before:bg-primary hover:after:bg-white;
}
.nav-community-link.nuxt-link-active svg {
  @apply text-primary stroke-transparent;
}
@screen xl {
  .nav-community-link:hover {
    @apply after:bg-gray-200;
  }
  .nav-community-link:hover .tooltip {
    @apply block;
  }
}
.nav-community-link .tooltip {
  @apply -bottom-9;
}
.nav-community-link .notification-badge {
  @apply ml-6 mb-6;
}

.nav-menu-list-dropdown-account {
  @apply text-dark;
}
@screen xl {
  .nav-menu-list-dropdown-account {
    width: 360px;
  }
}

@screen xl {
  .nav-menu-list-dropdown-menu .overflow {
    @apply pb-5 pl-3 overflow-y-auto overflow-x-hidden;
    height: calc(100vh - 124px);
  }
  .nav-menu-list-dropdown-menu .overflow:hover::-webkit-scrollbar-thumb {
    @apply bg-scroll;
  }
}
@screen xl {
  .nav-menu-list-dropdown-menu .card {
    @apply -mx-1;
  }
  .nav-menu-list-dropdown-menu .card-lf {
    @apply px-2;
  }
  .nav-menu-list-dropdown-menu .card-lf-wrap {
    @apply p-4 bg-white shadow rounded-lg;
    width: 360px;
  }
  .nav-menu-list-dropdown-menu .card-lf-wrap .search .form-control {
    @apply w-full h-9;
  }
  .nav-menu-list-dropdown-menu .card-rt {
    @apply px-2;
  }
  .nav-menu-list-dropdown-menu .card-rt-wrap {
    @apply p-4 bg-white shadow rounded-lg;
    width: 200px;
  }
}
.nav-menu-list-dropdown-menu .card .line-cut {
  @apply before:absolute before:inset-x-2 before:-bottom-2 before:w-auto before:h-[1px] before:bg-line;
}

@screen xl {
  .nav-menu-list-dropdown-messenger {
    width: 360px;
  }
  @screen xl {
    .nav-menu-list-dropdown-messenger .overflow {
      @apply pb-2 pl-3 overflow-y-auto overflow-x-hidden text-dark;
      height: calc(100vh - 117px);
    }
    .nav-menu-list-dropdown-messenger .overflow:hover::-webkit-scrollbar-thumb {
      @apply bg-scroll;
    }
  }
  @screen xl {
    .nav-menu-list-dropdown-messenger .chat-list {
      @apply relative hover:bg-gray-200 rounded-lg cursor-pointer;
    }
    .nav-menu-list-dropdown-messenger .chat-list .more {
      @apply absolute top-1/2 -translate-y-1/2 right-5 w-9 h-9 bg-white rounded-full items-center justify-center border border-line;
    }
    .nav-menu-list-dropdown-messenger .chat-list:hover .more {
      @apply flex;
    }
  }
}

@screen xl {
  .nav-menu-list-dropdown-notifications {
    width: 360px;
  }
  @screen xl {
    .nav-menu-list-dropdown-notifications .overflow {
      @apply pb-2 pl-3 overflow-y-auto overflow-x-hidden text-dark;
      height: calc(100vh - 73px);
    }
    .nav-menu-list-dropdown-notifications .overflow:hover::-webkit-scrollbar-thumb {
      @apply bg-scroll;
    }
  }
  @screen xl {
    .nav-menu-list-dropdown-notifications .notification-list {
      @apply relative hover:bg-gray-200 rounded-lg cursor-pointer;
    }
    .nav-menu-list-dropdown-notifications .notification-list .more {
      @apply absolute top-1/2 -translate-y-1/2 right-7 w-9 h-9 bg-white rounded-full items-center justify-center border border-line;
    }
    .nav-menu-list-dropdown-notifications .notification-list:hover .more {
      @apply flex;
    }
  }
}

.nav-menu {
  @apply fixed top-0 right-0 h-nav mr-4 flex items-center text-dark;
  z-index: 52;
}
.nav-menu-profile {
  @apply relative flex items-center px-3
              before:absolute before:-inset-y-1 before:left-2 before:right-0 before:rounded-full before:-z-10;
}
.nav-menu-profile span {
  @apply font-semibold;
}
.nav-menu-profile:hover {
  @apply before:bg-gray-200;
}
.nav-menu-profile.nuxt-link-active {
  @apply before:bg-blue-100;
}
.nav-menu-profile.nuxt-link-active span {
  @apply text-accent;
}
.nav-menu-list {
  @apply flex items-center h-nav;
}
.nav-menu-list-item {
  @apply relative w-10 h-10 flex items-center justify-center bg-gray-400 ml-2 rounded-full last-of-type:pb-2;
}
.nav-menu-list-item svg {
  @apply text-dark w-5 h-5;
}
.nav-menu-list-item:hover {
  @apply bg-gray-500;
}
.nav-menu-list-item:hover .tooltip {
  @apply block z-10;
}
.nav-menu-list-item.active {
  @apply bg-blue-100;
}
.nav-menu-list-item.active svg {
  @apply text-accent;
}
.nav-menu-list-item .tooltip {
  @apply -bottom-11;
}
.nav-menu-list-item .notification-badge {
  @apply -top-6px -right-6px;
}
.nav-menu-list-dropdown {
  @apply fixed top-nav right-4;
}
.nav-menu-list-dropdown-wrap {
  @apply bg-gray-300 px-1 rounded-lg shadow-lg -mt-1 overflow-hidden;
  max-height: calc(100vh - 56px - 16px);
}

.nav-search {
  @apply h-nav fixed left-16 z-[53] flex items-center;
}
.nav-search-panel {
  @apply fixed top-0 left-0 bg-white rounded-lg w-80 shadow-xl pt-2 px-4;
}

.nav-logo {
  @apply hidden xl:flex fixed top-0 left-0 h-nav items-center ml-4;
  z-index: 51;
}
.nav .tooltip {
  @apply absolute text-xs bg-black/80 text-white rounded-lg py-2 px-4;
}
.nav .notification-badge {
  @apply absolute w-19px h-19px hidden xl:flex items-center justify-center rounded-full bg-danger text-white text-xs;
}
.nav-mobile-tab {
  @apply h-10 items-center bg-blue-700 px-4;
}

.sidebar-community {
  @apply sticky top-nav min-w-[280px] max-w-[360px] py-4 pl-2 text-dark;
  height: calc(100vh - 56px);
}
@screen xl {
  .sidebar-community.overflow {
    @apply overflow-y-auto overflow-x-hidden;
  }
  .sidebar-community.overflow:hover::-webkit-scrollbar-thumb {
    @apply bg-scroll;
  }
}
.sidebar-community .menu-list {
  @apply flex items-center p-2 rounded-lg cursor-pointer hover:bg-gray-400;
}
.sidebar-community .shortcuts:hover .edit-shortcuts {
  @apply block;
}

.sidebar-friend-list {
  @apply sticky top-nav right-0 min-w-[280px] max-w-[360px] py-4 pl-2 text-dark;
  height: calc(100vh - 56px);
}
@screen xl {
  .sidebar-friend-list.overflow {
    @apply overflow-y-auto overflow-x-hidden;
  }
  .sidebar-friend-list.overflow:hover::-webkit-scrollbar-thumb {
    @apply bg-scroll;
  }
}
.sidebar-friend-list .menu-list {
  @apply flex items-center p-2 rounded-lg hover:bg-gray-400;
}

.time-line-story {
  @apply bg-white px-1 mt-2 xl:mt-1 order-1 text-dark;
}
@screen xl {
  .time-line-story {
    @apply mt-5 bg-transparent px-0;
  }
}
.time-line-story-list {
  @apply flex items-center flex-nowrap -mx-1 overflow-auto xl:overflow-hidden;
}
.time-line-story-list .my-story,
.time-line-story-list .friend-story {
  @apply px-1 relative flex my-1;
  max-width: 22%;
  flex: 0 0 22%;
  max-height: 198px;
}
@screen xl {
  .time-line-story-list .my-story,
.time-line-story-list .friend-story {
    max-width: 20%;
    flex: 0 0 20%;
  }
}
.time-line-story-list .my-story.bg-backdrop,
.time-line-story-list .friend-story.bg-backdrop {
  @apply relative before:absolute before:inset-0 before:mx-1 before:rounded-lg;
}
.time-line-story-list .my-story.bg-backdrop::before,
.time-line-story-list .friend-story.bg-backdrop::before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}
.time-line-story-list .my-story .caption,
.time-line-story-list .friend-story .caption {
  @apply text-[10px] xl:text-[13px] absolute left-2 bottom-1 xl:left-3 xl:bottom-3 leading-[10px] text-white;
}
.time-line-story-list .my-story .create-story .plus {
  @apply text-primary bg-white absolute w-8 h-8 top-2 left-2 text-2xl leading-[28px] px-2 rounded-full;
}
@screen xl {
  .time-line-story-list .my-story .create-story {
    @apply absolute inset-x-1 bottom-0 h-[49px] bg-white rounded-b-lg;
  }
  .time-line-story-list .my-story .create-story .plus {
    @apply rounded-full w-10 h-10 bg-primary border-4 border-white flex items-center justify-center text-[32px] text-white pb-[7px] absolute -top-5 left-1/2 -translate-x-1/2;
  }
}
.time-line-story-list .friend-story .profile {
  @apply absolute top-2 left-2 xl:top-3 xl:left-3;
}
.time-line-story .btn-next {
  @apply absolute -right-5 items-center justify-center shadow border border-gray-500 hover:bg-gray-200;
}

.time-line-new-post {
  @apply order-first text-dark;
}
.time-line-new-post .card {
  @apply p-2 xl:px-4 xl:py-3 xl:rounded-lg xl:shadow bg-white xl:mt-6;
}
.time-line-new-post .card-body {
  @apply flex items-center;
}
.time-line-new-post .card-body .form-control {
  @apply w-full h-8 xl:h-10 placeholder:text-gray-700 border border-line xl:border-0 cursor-pointer;
}
.time-line-new-post .card-footer {
  @apply border-t border-line mt-3 pt-2;
}

.time-line-video-room {
  @apply relative hidden xl:block text-dark;
}
.time-line-video-room .card {
  @apply px-4 py-3 rounded-lg shadow bg-white mt-4 overflow-hidden;
}
.time-line-video-room .btn-next {
  @apply absolute top-1/2 -translate-y-1/2 right-4 w-12 h-12 flex items-center justify-center rounded-full shadow cursor-pointer border border-gray-500 bg-white hover:bg-gray-200;
}

.time-line-post {
  @apply text-dark order-last;
}
.time-line-post .card {
  @apply px-2 xl:px-4 pt-2 xl:pt-3 my-2 xl:my-4 xl:rounded-lg xl:shadow bg-white;
}
.time-line-post .card-header {
  @apply flex items-start;
}
.time-line-post .card-body {
  @apply mt-2 xl:mt-3;
}
.time-line-post .card-body .message {
  @apply text-[15px];
}
.time-line-post .card-body .sum {
  @apply py-[10px] border-b border-line;
}
.time-line-post .card-footer {
  @apply py-1 flex items-center;
}

.time-line-create-post {
  @apply fixed inset-0 bg-gray-50/80 z-[60] flex items-center justify-center text-dark;
}
.time-line-create-post .modal-header {
  @apply relative flex items-center border-b border-line;
}
.time-line-create-post .modal-header .text {
  @apply font-bold;
}
.time-line-create-post .modal-body .profile {
  @apply flex;
}
.time-line-create-post .modal-body .form-control {
  @apply placeholder:text-gray-700 text-xl w-full min-h-[100px] resize-none;
}
.time-line-create-post .modal-body .btn-post {
  @apply h-9 w-full flex items-center justify-center rounded xl:rounded-lg bg-primary text-[15px] font-semibold text-white hover:bg-blue-900;
}
@screen max-xl {
  .time-line-create-post {
    @apply bg-white block;
  }
  .time-line-create-post .modal-header {
    @apply h-[50px];
  }
  .time-line-create-post .modal-header .close {
    @apply order-first px-4;
  }
  .time-line-create-post .modal-header .text {
    @apply order-1;
  }
  .time-line-create-post .modal-header .post {
    @apply order-last ml-auto px-4 font-bold text-primary;
  }
  .time-line-create-post .modal-body {
    @apply px-0;
  }
  .time-line-create-post .modal-body .profile {
    @apply p-2 border-b border-line;
  }
  .time-line-create-post .modal-body .form-control {
    @apply mt-3 text-base;
  }
}
@screen xl {
  .time-line-create-post .modal {
    @apply w-[500px] rounded-lg shadow-xl bg-white;
  }
  .time-line-create-post .modal-header {
    @apply h-[60px] justify-center;
  }
  .time-line-create-post .modal-header .text {
    @apply text-xl;
  }
  .time-line-create-post .modal-header .close {
    @apply absolute right-4 w-9 h-9 flex items-center justify-center rounded-full bg-gray-400 hover:bg-gray-500 cursor-pointer;
  }
  .time-line-create-post .modal-body {
    @apply px-4;
  }
  .time-line-create-post .modal-body .profile {
    @apply py-4;
  }
}

.form-control {
  @apply bg-form rounded-full placeholder:text-gray-700/70 focus:outline-none focus:placeholder:text-gray-700/50 px-4 text-dark;
}

.from-control-icon {
  @apply relative;
}
.from-control-icon .form-control {
  @apply pl-8;
}
.from-control-icon .icon {
  @apply absolute top-1/2 -translate-y-1/2 left-[10px] text-gray-700/60;
}

.overflow::-webkit-scrollbar {
  width: 8px;
}

.overflow::-webkit-scrollbar-thumb {
  @apply rounded-full;
}